%h2 Hyphenation
%p Test our patterns:
%form{action: '/test-patterns', method: 'POST'}
  %input#word{type: 'text', name: 'word', value: "#{@word}", label: 'word'}
  %input{type: 'submit', value: 'hyphenate'}
  %select#bcp47{name: 'bcp47'}
    - @languages.each do |language|
      - bcp47 = language.bcp47
      %option{value: "#{bcp47}", selected: bcp47 == @bcp47}
        = bcp47
