%h2 Hyphenation

%p
  This website is about
  %a{href: 'https://en.wikipedia.org/wiki/Syllabification'} word division
  (often called hyphenation in computer science), though mostly in T<sub>E</sub>X.
  See
  %a{ href: '/tex'} the full documenation.
