%h2 Known bugs

We list a small number of “known bugs” in pattern sets, that are unlikely to be
corrected because it’s hard to update them, for compatibility reasons.

- @known_bugs.each do |bug|
  %h3= bug.first
  %table
  - bug.last.each do |error, comment|
    %td
      %tr= error
      %tr= comment
