<!DOCTYPE html>
<html>
<head>
  <title>Hyphenation</title>
  <link rel="stylesheet" type="text/css" href="tug.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold&subset=latin">
  <script type="text/javascript" src="tug.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
