<!DOCTYPE html>
%html{lang: 'en-gb'}
  %head
    %title Hyphenation
    %link{rel: 'stylesheet', type: 'text/css', href: 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'http://fonts.googleapis.com/css/family=Droid+Serif:regular,italic,bold&subset=latin'}
    %link{rel: 'stylesheet', type: 'text/css', href: "http://yui.yahooapis.com/2.8.1/build/reset-fonts-grids/reset-fonts-grids.css"}
    %script{type: 'text/javascript', src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'tug.css'}
    %script{type: 'text/javascript', src: 'tug.js'}
    %script{type: 'text/javascript', src: 'http://tug.org/tex-hyphen/hyphenator_3.1.0/Hyphenator.js'}

  %body

    = yield
