%h2 What is relicensing?
%p Changing to another licence.

%h2 Is that a real thing?
%p Yes.

%h2 Why?
%p
  There so many reasons: if your patterns are under the LPPL, it is
  particularly important for us to have them under a more permissive licence,
  because the LPPL has many serious problems that make it unusable with just
  about any project outside the TeX world.  We won’t bore you with all the
  reasons, but if you need a summary here are three points: [etc.]

%p
  The GPL, LGPL, and other copyleft licences are also not great because they’re
  usually incompatible with any other copyleft licence.  Please don’t use them
  if you don’t have to.

%h2 What should I use?
%p
  The
  %a{href: 'https://opensource.org/licenses/MIT'}
    MIT licence.
