<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
</head>
<body>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><!-- $Id$ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>TeX hyphenation patterns · TeX Users Group</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold" type="text/css" />
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold&subset=latin' type='text/css'>
        <link rel="stylesheet" type="text/css" media="all" href="http://yui.yahooapis.com/2.8.1/build/reset-fonts-grids/reset-fonts-grids.css" />
		    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" media="screen,projection" href="http://tug.org/tex-hyphen/style.css" />
        <link rel="stylesheet" type="text/css" media="print" href="http://tug.org/tugstyle.css" />
        <link rel="shortcut icon" href="http://tug.org/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="http://tug.org/favicon.ico" type="image/icon" />
		<script type="text/javascript" src="hyphenator_3.1.0/Hyphenator.js"></script>
		<script type="text/javascript" src="http://tug.org/tex-hyphen/site.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    </head>

<%= yield %>

</body>
</html>
